@model List<books.Models.AdminViewModels.YazarlarVM>

@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Yazarlar</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/Admin">Anasayfa</a></li>
          <li class="breadcrumb-item active">Yazarlar</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- /.col-md-6 -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <a href="/Admin/YazarForm" class="btn btn-success">
              <i class="fa fa-plus mr-2"></i>Ekle
            </a>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Yazar Adı</th>
                  <th>Soyadı</th>
                  <th>Doğum Tarihi</th>
                  <th>Doğum Yeri</th>
                  <th>Cinsiyeti</th>
                  <th>İşlem</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var yazar in Model)
                {
                  <tr>
                    <td>@yazar.Id</td>
                    <td>@yazar.Adi</td>
                    <td>@yazar.Soyadi</td>
                    <td>@yazar.DogumTarihi</td>
                    <td>@yazar.DogumYeri</td>
                    @if (yazar.Cinsiyeti)
                    {
                      <td>Erkek</td>
                    }
                    else
                    {
                      <td>Kadın</td>
                    }
                    <td>
                      @* EDIT BUTTON *@
                      <a href="/Admin/YazarForm/@yazar.Id" class="btn btn-sm btn-primary" style="width: 2rem"><i
                          class="fa fa-pen"></i></a>

                      @* DELETE BUTTON *@
                      <a href="#" onclick="ConfirmDelete(id=@yazar.Id)" class="btn btn-sm btn-danger"
                        style="width: 2rem"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>

<script type="text/javascript">
  function ConfirmDelete(id) {
    Swal.fire({
      title: 'Bir Kayıt Siliyorsunuz!',
      text: 'Bu kaydı silmek istediğinizden emin misiniz?',
      icon: 'error',
      confirmButtonText: 'Sil',
      cancelButtonText: 'Vazgeç',
      showCancelButton: true,
      reverseButtons: true
    }).then((value) => {
      if (value.isConfirmed) {
        window.location.replace("/Admin/YazarSil/" + id);
      }
    })
  }


</script>